<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>NSNetworkUsageDescription</key>
	<string>NetWatch monitors network data usage to display statistics.</string>
	<key>CFBundleName</key>
	<string>NetWatch</string>
	<key>CFBundleDisplayName</key>
	<string>NetWatch</string>
</dict>
</plist>
